#vim-light configuration
[submodule "vim-light/vim/ale"]
	path = vim-light/vim/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim-light/vim/ctrlp.vim"]
	path = vim-light/vim/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim-light/vim/supertab"]
	path = vim-light/vim/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim-light/vim/vim-tmux-navigator"]
	path = vim-light/vim/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/vim/bundle/YouCompleteMe"]
	path = vim/vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
