* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom: 3px solid rgba(42, 42, 42, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .1s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor {
    padding: 0 10px;
    margin: 0 4px;
	margin-bottom: 3px;
    color: #ffffff;
}

#clock {
    color: #64727D;
}

#battery {
    color: #ffffff;
}

#battery.charging {
    color: #26A65B;
}

@keyframes blink {
    to {
        color: #ffffff;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    color: #000000;
}
#cpu {
    color: #2ecc71;
}

#memory {
    color: #9b59b6;
}

#backlight {
    color: #90b1b1;
}

#network {
    color: #2980b9;
}

#network.disconnected {
    color: #f53c3c;
}

#pulseaudio {
    color: #f1c40f;
}

#pulseaudio.muted {
    color: #900000;
}

#custom-media {
    color: #66cc99;
    min-width: 100px;
}

#custom-media.custom-spotify {
    color: #66cc99;
}

#custom-media.custom-vlc {
    color: #ffa000;
}

#temperature {
    color: #f0932b;
}

#temperature.critical {
    color: #eb4d4b;
}

#tray {
    color: #2980b9;
}

#idle_inhibitor {
    color: #2d3436;
}

#idle_inhibitor.activated {
    color: #ecf0f1;
}
